body{
    margin: 0;
   padding: 0;
   height: 10vh;
   background-color: aqua;
} 
.container
{
   position: absolute;
   top: 30%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.button
{
    position: relative;
    text-align: center;
    width: 100px;
    padding: 8px;
    font-size: 15px;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    border: 5px solid;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: 1.s;
}
